#MB_overlay {
    position: absolute;
    margin: auto;
    top: 0;    left: 0;
    width: 100%; height: 100%;
    z-index: 9999;
    border: 0;
    background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
    position: absolute;
    top: 0;
    border: 0 solid;
    text-align: left;
    z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
    position: relative;
    background-color: #EFEFEF;
    height: 100%;
}

#MB_header {
    margin: 0;
    padding: 0;
}

#MB_content {
    position: relative;
    padding: 6px .75em;
    overflow: auto;
}

#MB_caption {
    font: bold 100% "Lucida Grande", Arial, sans-serif;
    text-shadow: #FFF 0 1px 0;
    padding: .5em 2em .5em .75em;
    margin: 0;
    text-align: left;
}

#MB_close {
    display: block;
    position: absolute;
    right: 5px; top: 4px;
    padding: 2px 3px;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
#MB_close:hover {
    background: transparent;
}

#MB_loading {
    padding: 1.5em;
    text-indent: -10000px;
    background: transparent url(spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_window {
    background-color: #EFEFEF;
    color: #000;

    -webkit-box-shadow: 0 0 64px #000; 
    -moz-box-shadow: #000 0 0 64px; 
    box-shadow: 0 0 64px #000;
}
#MB_frame {
    padding-bottom: 4px;


}

#MB_content { border-top: 1px solid #F9F9F9; }

#MB_header {
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
}
#MB_caption { color: #000 }
#MB_close { color: #777 }
#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
    margin: 10px 0;
    text-align: center;
}

/*  Notification message css  */
.notification {
    color: #FFFFFF;
    display: none;        
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    opacity:0.8;
    overflow: hidden;
    z-index: 10000; 
} 
#note {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    color:white;
    opacity:0.8;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    vertical-align: middle;
    font-size:16px;    
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
.top-cart {
    display: none;
}
.top-link-cart{
    display: none;    
}
.header-cart {
    display: table;
    float: right;
    height: 100%;
}
.header-cart a:hover {
    color: #000;
}
.header-cart .cart-btn {
    border: 0 none;
    height: 25px !important;
    padding: 0 !important;
    margin-top:-1px;
    width: 25px !important;
    min-width: 25px !important;
    min-height: 25px !important;
    line-height: 25px !important;
    background: url('my-bag.png') no-repeat 3px 4px;
    color: #fff;
    font-size: 9;
    margin-right: 6px;

}
.header-cart .cart-btn i {
    display:none
}
.cart-items-box .items {
    clear: both;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.cart-items-box .cart-header {
    border-bottom: 1px solid #d0d0d0;
    color: #000;
    font-size: 11px;
    margin: 0px;
    padding-bottom: 10px;
    text-align: center;
    display:block;
}
.cart-items-box .cart-header h3 {
    font-size: 26px;
}
.cart-items-box .items .item-thumbnail {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eaeaea;

    float: left;

}
.mini-basket-content-wrapper {
    float: left;
    width: 205px;
}
.mini-cart-name {
    /*margin-bottom: 10%;*/
}
.cart-items-box .items .item-name {
    display: block;
    position: relative;
    font-size: 16px;
}
.qty-btngroup .minus {

}
.qty-btngroup button {
    background: none repeat scroll 0 0 #eaeaea;
    border: 0 none;
}
.btn.btn-iconed > i {
    color: #ff5757;
    font-size: 22px;
    padding-right: 5px;
}

.btn.btn-iconed > i, .btn.btn-iconed > span {
    display: inline-block;
    vertical-align: top;
}

.cart-items-box {    
    z-index: 9999;
    position: absolute;  
    right: 0;
    border: 1px solid #eaeaea;
    background: #fff;
    display: block;                                                  
    width: 340px;
    padding: 10px 15px 15px 15px;
    display: none;
}

.mini-basket-content-wrapper{
    float:left;
    text-align: left;
    width:205px;    
}

.mini-cart-name{
   /* margin-bottom: 10%;*/    
    line-height: 1;
}
.mini-basket-content-wrapper  .price{
    display: inline-block;
    margin-left: 15px;
    padding-top: 3px;
}

.cart-items-box .items li{
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10px;
}


.mini-cart-footer {
    margin: 10px 20px;
    padding-top: 7px;
    clear:both;
    background: black;
    color:white;
    border:1px solid transparent;
    text-align: center;
}  
.mini-cart-footer a, .mini-cart-footer span.separator  {
    display: inline-block !important;
    height: 30px;
    line-height: 25px !important;
    padding: 0 !important;
    margin:  0 !important;
    color: white;
    font-size: 15px !important;
    width: auto !important;
    float:none;
    min-width: 0 !important;
    border:none;
    background: transparent !important;
    
}
.mini-cart-footer:hover{
    border: 1px solid #000000;
    background: white;
    color:black;
}
.mini-cart-footer:hover a, .mini-cart-footer:hover  span.separator  {
    color:black !important;
    background: transparent !important;
    border:none !important; 
}

.mini-cart-footer a:hover{
    background: transparent !important;
}
.mini-cart-footer:hover *{

}

.mini-cart-footer a {

}
.mini-cart-footer span.separator {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.mini-cart-footer a.view-cart-btn {
    
}
.mini-cart-footer a.view-checkout-btn {
      
}

.items li .remove-btn{      
    width: 14px;
    height: 14px;
    display: block;position: relative;
    left: 280px;
    top:  -85px;
    z-index: 10000;
}
.cart-items-box .header {
    text-align: center;
    color: #a4a4a4;
    font-size: 11px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d0d0d0;
    margin: 10px;
}

.cart-items-box .items > li {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;padding: 3% 2%;
    float: none;
    clear:both;
    margin: 0 0px;
    padding: 10px 0;
    display: block;
}


.cart-items-box .items .item-thumbnail {
    float: left;
    width: 73px;
    height: 106px;
    margin: 0;
    padding:0;
    margin-right: 10px;
}
.cart-items-box .items .item-thumbnail > a {
    display: block;
    padding: 0;
    margin:0;
}
.cart-items-box .items .item-name {
    position: relative;
    display: block;

    text-indent: 0;
    padding: 0;
}
.cart-items-box .items .item-price {
    color: #ff5757;
    font-weight: bold;
    display: block;
}
.cart-items-box .footer {
    clear: both;
    float: right;
    font-size: 11px;
    margin-top: 15px;
    text-decoration: underline;
}

.items li .remove-btn{
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    left: 280px;
    top:  -45px;
    z-index: 10000;
    font-size: 16px;
}

.my-cart .qty-btngroup {
    margin: 0 auto;
    display: table;
}
.qty-btngroup button, .qty-btngroup input[type="text"] {
    width: 30px;
    height: 28px;
    float: left;
    color: #7e7e7e;
    font-size: 12px; 
}
.qty-btngroup button {
    border: 0;
    background: #eaeaea;
}
.qty-btngroup button:hover {
    color: #fff;
    background: #ff5757;
}
.qty-btngroup input[type="text"] {
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
    height: 28px;     
}

table.my-cart tr td div.qty-btngroup {
    width: 105%;
}
.my-cart .qty-btngroup {
    display: table;
    margin: 0 auto;
}
#mini-cart-summary{
    margin-bottom: 5px;
    width: 100%;
}
.sidebar .header-cart{
    display: none;
}
.clearfix{
    clear: both;
}
.header-container {
    text-align: left;
}
.view-cart-btn{
    float: left;
}


.cart-container{
    overflow: unset;
    z-index: 99999; 
}
.skip-minicart {
    padding: 0px !important;
    width: auto;
}
.header .quick-access .links {
    float: right;
    line-height: 18px;
    position: relative;
    right: 135px;
    white-space: nowrap;
}
.header .form-search {
    margin-top: 10px;
}