
/* ============================================ *
 * Table Helpers
 * ============================================ */
.hide-th {
    text-indent: -9999px;
}

/* ============================================ *
 * Data Table
 * ============================================ */
.data-table {
    width: 100%;
}

.data-table td,
.data-table th {
    padding: 5px;
    vertical-align: top;
}

.data-table th {
    text-transform: uppercase;
    line-height: 1.4;
    white-space: nowrap;
}

.data-table thead th,
.data-table tbody td {
    border-bottom: 1px solid silver;
}

.data-table tbody td,
.data-table tfoot td {

}

.data-table tfoot tr {

}

.data-table tbody td .item-options {

}
.data-table tbody td .item-options dt:after {
    content: ':';
}

.data-table .total {
    max-width: 100px;
    text-align: right;
}
.block-title {
    font-size: 34px;
    line-height: normal !important;
    color: #282727;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.block-content {}
.block-content {}
.block-content li{ 
    text-align: left;
    padding: 8px 0;
}
.block-content li a{
    color: #818181;
    font-size: 13px;
    text-transform: uppercase;
}
/* ============================================ *
 * Forms
 * ============================================ */
.fieldset {
    margin: 0 0 14px 0;
    padding: 0;
}
.form-list {
    max-width: 380px;
}
.form-list li{
    display: block;
    clear:both;
    margin-bottom: 5px;
}
.form-list li.fields .field {
    width: 45%;
    margin-right: 5px;
    float:left;
}
.form-list li.wide {
    width: 100%;
}
.form-list li.button-set {
    width: 100%;
    margin-top: 15px;
}
.form-list li.wide .field {
    width: 100%;
}
.form-list li.control {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    text-transform: uppercase;

}
.form-list li.control label {
    height: 15px;
    line-height: 15px;
    display: table-cell;
}
.form-list li.control input {
    height: 15px;
    display: inline-table;
    width: 15px;
    float: left;
    padding: 0;
    margin: 0 5px 0 0;
}
form p.required {
    display: none;
}

label em,label span {
    display: none;
}
.form-list label {
    text-transform: uppercase;
    font-size: 10px;
}
.form-list input[type="text"],.form-list input[type="password"],.form-list input[type="email"],.form-list input[type="tel"],.form-list input[type="fax"], .form-list  select,.form-list  textarea {
    min-width: 170px;
    max-width: 100%;
    width: 100%;
    height: 30px;
    background: #fff;
    border: 1px solid #e5e5e6;
    font-size: 13px;
    color: #818181;
    text-indent: 5px;
}

.form-list li.wide input{
    width: 100%;
}

.form-list button{
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0;
}
/* ============================================ *
 * Messages 
 * ============================================ */
.messages {
    border: 1px double #a0ceb4;
    padding: 10px;
    margin-bottom: 20px;
}
/* ============================================ *
 * Button 
 * ============================================ */
.btn,.button {
    min-height: 30px;
    min-width: 150px;
    line-height: 100%;
}
.btn_small span {
    margin: 0;
    padding: 0;
}
.btn_small {
    padding: 0px 0px;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 200px;
}
.btn_med {
    padding: 0px 0px;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 200px;
}
.btn_big {
    padding: 0px 48px;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 200px;
}

/* ============================================ *
 * Hack
 * ============================================ */
.product-options label {
    display:none
}

a:hover,a:active {
    color: #a0ceb4;
}
input, button, select, textarea {
    border: 1px solid #bebebe;
    background: #fff;
}
/* Button */
.btn,.button {
    background: #fff;
    color: #a0ceb4;
    text-transform: uppercase;
    border: 1px solid #a0ceb4;
    border-radius: 0;
    font-family:  'supergroteskcomp-mediumRg';	
    letter-spacing: 1.3px;
}
.btn:hover,.button:hover {
    background: #a0ceb4;
    color: #fff;
    border: 1px solid #a0ceb4;
}


.btn-primary, .btn-main, .btn-proceed-checkout, .btn-checkout {
    background: black;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid transpare;
    border-radius: 0;
    font-family:  'supergroteskcompregular';	
    letter-spacing: 1.3px;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.btn-primary:hover,.btn-main:hover,.btn-proceed-checkout:hover, .btn-checkout:hover  {
    background: white;
    color: black;
    text-transform: uppercase;
    border: 3px solid black;
  
}
.btn-outline {
    background: none;
    border: 1px solid #c2c2c2;
    text-shadow: none;
    color: #c2c2c2;
}
.btn-outline:hover {
    background: #a0ceb4;
    color: #fff;
}

.btn-primary.btn-outline {

}

.btn-checkout,.checkout_btn,.window-modal .close-modal,.modal-header .close {
    background: #a0ceb4 !important;
    color: #fff;
    border: none;
}


.header_top, .f_top,.product-box-grid .img a.view,.product-cat-grid .img .view,.header_top, .f_top,.product-box-grid .img a.view,.product-cat-grid .img .view 
{
  background: #9ecdb4;
}
#content .tabing .nav-tabs > li.active {
    border-bottom: 3px solid #a0ceb4 !important;
}

.f_top{
    background: #f69679;
}

