/* ==========================================================================
   Font Definitions
   ========================================================================== */
@font-face {
    font-family: 'supergroteskcompregular';
    src: url('../fonts/supergroteskcomp-webfont.eot');
    src: url('../fonts/supergroteskcomp-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/supergroteskcomp-webfont.woff') format('woff'),
        url('../fonts/supergroteskcomp-webfont.ttf') format('truetype'),
        url('../fonts/supergroteskcomp-webfont.svg#supergroteskcompregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'supergroteskcomp-mediumRg';
    src: url('../fonts/supergroteskcomp-medium-webfont.eot');
    src: url('../fonts/supergroteskcomp-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/supergroteskcomp-medium-webfont.woff') format('woff'),
        url('../fonts/supergroteskcomp-medium-webfont.ttf') format('truetype'),
        url('../fonts/supergroteskcomp-medium-webfont.svg#supergroteskcomp-mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ==========================================================================
   Global & Reset
   ========================================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
html, html a {
    text-shadow: none;
    -webkit-font-smoothing: subpixel-antialiased;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-family: 'supergroteskcompregular' ,Helvetica, Arial, sans-serif;
    color: #818181;
    line-height: 1;
    font-size: 12px;
    font-weight:normal;
    line-height: 1.4em;
}

a {
    color: inherit;
    text-decoration: none;

}
img {
    max-width: 100%;
    verticla-align: middle;
}

.no-display {
    display: none;
}
legend { display:none; }



.std { clear:both; margin:10px 0; }

.a-left { text-align:left; }
.a-center { text-align:center; }
.a-right { text-align:right; }

.global-site-notice { background:#444; border-bottom:1px solid #333; color:#fff; font-size:13px; padding:10px; text-shadow:0 1px 0 #111; }
.global-site-notice p { margin:0 0 10px; }
.global-site-notice a { color:#f90; text-decoration:underline; text-shadow:none; }
.global-site-notice .actions { text-align:center; }
.global-site-notice .actions button { background:none; border:1px solid #ccc; color:#fff; cursor:pointer; padding:5px 10px; text-shadow:0 1px 0 #333; }


::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder { /* Firefox 18- */
    color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #000;  
}

:-ms-input-placeholder {  
    color: #000;  
}
input.input-text,
input[type="text"],
input[type="password"],
input[type="email"] {
    background:#fff;
    border:1px solid #e4e4e4;
    font-size:13px;
    margin:0;
    padding:0 5px;

    height: 25px;
    padding: 0;
    text-indent: 5px;
    line-height: 25px;
}

textarea {
    border:1px solid;
    border-color:#e4e4e4;

    padding:5px;
    font:15px/18px HelveticaNeue, Helvetica, sans-serif;
    height:100px;


}

/* ==========================================================================
   Thypography
   ========================================================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:  'supergroteskcomp-mediumRg';	
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin:0;
    padding:0;
    font-weight:normal;

}



h1 {
    font-size:19px;
    line-height:normal;
    color:#282727;
    font-weight:normal;
    margin:0;
    padding:0;
}
h2 {
    font-size:15px;
    line-height:normal;
    color:#282727;
    font-weight:normal;
    margin:0;
    padding:0;
}
h3 {
    font-size:13px;
    line-height:normal;
    color:#282727;
    font-weight:normal;
    margin:0;
    padding:0;

}
h4 {
    font-size:12px;
    line-height:normal;
    color:#282727;
    font-weight:normal;
    margin:0;
    padding:0;

}
h5 {
    font-size:12px;
    line-height:16px;
    color:#282727;
    font-weight:normal;
    margin:0;
    padding:0;
    text-transform:uppercase;

}

p {}


/* ==========================================================================
   Layout
   ========================================================================== */

#header {
    min-height:133px;
    border-bottom:1px solid #dbdbdb;
}
#content {

}
#footer {

}

/* ==========================================================================
   COMMON LAYOUT
   ========================================================================== */
.container {

}


/* ------------------------------------------------------------------------
   Top Header
   ------------------------------------------------------------------------*/
#header .header_top {

    height: 25px;
}

.top_menu  ul li {
    margin:0;
    padding:0 0 0 10px;
    display:inline-block;
    position: relative;
    float: left;
}
.top_menu li.cart-link {
    width: 30px;
    height: 25px;
}
.top_menu  ul  li a {
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.top_menu  ul li a:hover {
    color:#fff;
}

#header .top_menu {
    width: 100%;
    text-align: center;
    position: relative;
    height: 34px;
}
#header .top_menu > ul {
    margin:0;
    padding:0;
    float: right;
}



.menu_c {
    background: #fff;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    position:absolute;
    top:25px;
    right:0;
    display:none;
    z-index:99;
}



.menu_c .menu_title {
    padding:15px 25px;
    border-bottom:1px solid #efefef;
}

.menu_c h4 {
    font-size:20px;
    line-height:24px;
    color:#000;
    font-weight:normal;
    margin:0;
    padding:0;
    text-transform: uppercase;
}

.menu_c p {
    font-size:12px;
    color:#000;
    font-weight:normal;
    margin:0;
    padding:0;
    text-transform: uppercase;
}



#simple-search {
   width: 180px;
position: relative;
text-align: left;
float: left;
top: 1px;
}
#simple-search input {
    margin-top: 1px;
    width: 150px;
    height: 20px;
    line-height: 23px;
    font-size: 9px;
    padding: 0 5px;
    color: #acacac;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#simple-search button {
    background: transparent;
    border:none;
    position: absolute;
    left: 15px;
    top: -2px;
    z-index: 9;
    display: none
}
#simple-search button i {

}


/* ------------------------------------------------------------------------
   Logo
   ------------------------------------------------------------------------*/
#header .header_mid {
    height: 67px;
} 
#header .logo {
    float: none;
    width: 152px;
    height: 54px;
    margin: 13px auto 0;
}
#header .logo a {

}
/* ------------------------------------------------------------------------
   Main Menu
   ------------------------------------------------------------------------*/
#header .header_bot {
    height: 47px;
    line-height: 47px;

}
#nav {
    padding-bottom: 1px;
}
.navbar-collapse {
    padding:0;
}
#nav .navbar-nav {
    margin:0;
    padding:0;
    display:block;
    width: 100%;
    height: 47px;
    text-align: center;
}
#nav .navbar-nav > li {
    position: relative;
    padding:0 0;
    float:none;
    display:inline-block;
    height: 47px;
    margin: 0 30px !important;
}
#nav .navbar-nav > li > a {
    font-family:  'supergroteskcomp-mediumRg';	
    display:block;
    font-size:14px;
    height: 47px;
    line-height: 47px;
    color:#251f21;
    margin:0;
    display:block;
    text-transform: uppercase;
    padding: 0 13px;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
}
#nav .navbar-nav > li > a:hover {
    color: #a0ceb4;
    background: none;
}
#nav ul li:first-child {
    margin-left:0;
}
#nav ul li:last-child {
    margin-right:0;
}

/* ------------------------------------------------------------------------
   Top Header Sticky
   ------------------------------------------------------------------------*/
#header_sticky {
    background: #fff;
    left: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    border-bottom:1px solid #dbdbdb;
    display: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#header_sticky .header_top {

    height: 25px;
}

#header_sticky .top_menu {
    width: 100%;
    text-align: center;
    position: relative;
    height: 25px;
}
#header_sticky .top_menu ul {
    margin:0;
    padding:0;
    float: right;
}

#header_sticky .header_mid {
    display: none;
}

#header_sticky .logo img {
    max-width: 100%;
}
#header_sticky .header_bot {
    padding:0;  
    height: 57px;
}

#header_sticky .logo_sticky {
    display: block;
    float: left;
    padding-top: 10px;
}
#header_sticky #nav {
    float: right
}
#header_sticky .navbar-nav {
    float: right;
}
#header_sticky .navbar-nav li  {
    float: left;
    margin: 0 15px !important;
}
#header_sticky .navbar-nav li a {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 12px;
    line-height: 57px;
    height: 57px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
}

/* ------------------------------------------------------------------------
   Footer
   ------------------------------------------------------------------------*/
#footer .f_top {
    height: 48px;
    line-height: 48px;
    margin-top: 30px;
}

ul.social {
    margin:0 0 0 10px;
    padding: 0;
    display:block;
}
ul.social li {
    float:left;
    margin:0 15px 0 0;
    padding:0;
}
ul.social li a {

    display:block;
    text-align:center;
    border-radius:50%;
}
ul.social li a i {
    font-size: 24px;
    color: #fff;
    line-height: 50px;
}
.emial_box {
    position: relative;
    text-align: right;
}
.emial_box label{
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;

}
.emial_box .txtbox{
    height: 30px;
    width: 190px;
    line-height: 30px;
    font-size: 11px;
    color: #000;
    margin-left: 10px;
    padding:  0 10px;
    box-shadow:none;
}
.emial_box .txtbox.validation-failed {
    border: 1px solid #ff0000;
}
.emial_box .validation-advice {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    color: #ff0000;
    font-size: 12px;
    padding: 0 20px;

}
.emial_box .btn-subcribe{
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-transform: uppercase;
    text-shadow:none;
    float: right;
    margin: 9px 0px 0 10px;
    padding: 0 30px;
}

#footer .f_mid {
    padding:25px 0 15px 0;
    border-top:1px solid #efefef;
    position:relative;
}
.footer-menu {

}
.seo-text {
    border-right: 1px solid #f9ddd2;
    border-left: 1px solid #f9ddd2;
}
.socialize {

}
#footer .f_mid h4 {
    text-align: center;
    font-size: 19px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    opacity: 0.6;
}
#footer .f_mid h4.logo {
    font-size: 12px;
}
#footer .f_mid h4.logo img{
    margin: 0 auto;
}
#footer .f_mid hr {
    width: 50px;
    border-top: 1px solid #000;
    margin: 0 auto;
    clear: both;
    margin-bottom: 15px;
}
#footer .f_mid .desc {
    font-size:12px;
    line-height:16px;
    color: #818181;
    margin:0;
    padding:0 35px;
    text-align: justify;
    margin-bottom: 25px;

}


.foot-menu {}
.foot-menu li{ 
    text-align: center;
    padding:5px 0;
}
.foot-menu li a{
    color: #818181;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1px 0;
    display: inline-block;
    text-decoration: none;
    line-height: 21px;
    border-bottom: 1px solid #fff;
}
.foot-menu li a:hover {
    border-bottom: 1px solid #818181;
}
.stream {
    margin: 0 auto;


}
.stream img{
    margin: 0 auto;
}

.f_bot {
    background: #000;
    height: 34px;
    line-height: 34px;
    color: #fff;
}
.f_bot .ring-us {
    font-family: 'supergroteskcomp-mediumRg';
    float: left;
    font-size: 10px;
}
.f_bot .copyright {
    font-family: 'supergroteskcomp-mediumRg';
    font-size: 14px;
    color: #fff;
    float: right;
    line-height: 34px;
}

/* ------------------------------------------------------------------------
   Unitlities
   ------------------------------------------------------------------------*/
.ajax-loader {
    display:none; position:absolute; top:50%; left:50%; margin-left:-20px;
    margin-top:-15px; height:31px; width:40px; z-index:9999;
    background: url('../img/ajax-load.gif') no-repeat center center;
}
#global-loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -15px;
    height: 31px;
    width: 40px;
    z-index: 9999;
      background: url('../img/ajax-load.gif') no-repeat center center;
}

/* ------------------------------------------------------------------------
   Popup
   ------------------------------------------------------------------------*/
.modal-backdrop {
    background-color: #000;
}
.window-modal {
    margin: 100px auto;
    position: relative;
    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    max-height: 600px;
}
.window-modal .close-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #fcaa9c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: block;
    border: none;
}


/* Notify out of stock */
#notify-wrapper {

    padding: 10px;
    background: #fff;
}

/* live chat */

a.live-chat-trigger
{
    display:inline-block;
    text-indent:-9999px;
    background:url(../img/btn-live-chat.png);
    width:64px;
    height:67px;
    position:fixed;
    right:0;
    top:184px;
    z-index: 9999;

}
a.live-chat-active
{
    display:inline-block;
    text-indent:-9999px;
    background:url(../img/btn-live-chat-active.png);
    width:44px;
    height:109px;
    position:fixed;
    right:0;
    top:184px
}
#live-chat
{
    width:397px;
    padding:20px 34px;
    background:#fff;
    text-align:center
}
#live-chat h3
{
    text-indent:-9999px;
    margin:0 0 25px;
    line-height:1;
    height:73px;
    background:url(../images/logo.png) top no-repeat
}
#live-chat p
{

    font-size:18px
}
#live-chat p label
{

    font-size:18px
}
#live-chat p label span
{
    color:red
}
#live-chat p .text
{
    display:block;
    height:33px;
    line-height:33;
    background:#e4e4e4;
    border:0;
    width:100%
}
#live-chat p .submit
{
    font-size:18px;

    color:#fff;
    text-transform:uppercase;
    display:inline-block;
    border:0;
    cursor:pointer;
    height:42px;
    line-height:42px;
    padding:0 21px;
    background:#f5b19a
}



/*-------------------------------------
    Shop
    -----------------------------------*/
.inner-banner {
    margin-top: 25px;
    margin-bottom: 15px;
}
.inner-banner img {
    max-width: 100%;
}
.breadcrumbs {
    margin: 12px 0 0px;
    line-height: 13px;
}
.breadcrumbs * {
    float: left;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: normal
}
.category-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}
/*----------------
  SideBar
-----------------*/
.sidebar .side_box {
    position: relative;
    margin:0 0 15px 0;
    padding:0;

}
.sidebar h5 {

    text-transform: uppercase;
    color: #000;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 42px;
    border-bottom: 1px solid #c8c8c8 !important;
    font-size: 14px;
    line-height: 33px;
    padding-bottom: 3px;
    position: relative;
}
.sidebar h5 span {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 0;

}
.sidebar h5 span {
    background: url('../images/plus_icon2_new.png') no-repeat center;
}
.sidebar h5 span.active {
    background: url('../images/minus_icon2_new.png') no-repeat center;
}
.sidebar h5 a {
    text-decoration: none;
}
.sidebar .side_box ul {
    margin:0;
    padding:0;
    display: none;
}
.sidebar .side_box ul li {
    margin:0;
    padding:0px 15px 0px 0px;
    display:block;
}
.sidebar .side_box ul li a {
    margin:0;
    padding:0 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #424242;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight:normal;
    display:block;
}
.sidebar .side_box ul li:nth-child(odd) {
    /*background:#fff; */
}
.sidebar .side_box ul li:nth-child(even) {
    /*background:#fafafa;*/
}
.sidebar .side_box ul li:last-child {
    border-radius:0px 0px 5px 5px;
}



.product_c {
    position:relative;
}

.filter_c {
    position:relative;
    height: 30px;
    line-height: 30px;
    margin: 0;

    margin-bottom: 35px;
    padding: 4px 0;

}

.filter_c label {
    font-family: 'supergroteskcomp-mediumRg';
    text-transform: capitalize;
    color: #000;
    font-size: 13px;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    padding: 0;
    line-height: 25px;
}
#filter-grid label {
    text-transform: uppercase;

}
.filter_c select {
    background: none;
    border: none;
    text-transform: capitalize;
    text-indent: 10px;
    width: 110px;
    height: 29px;
    line-height: 25px;
    font-size: 13px;
    letter-spacing: 1.2px;
    color: #000;
    margin: 0;
}
.filter-select {
    float: left;
    font-size: 10px;
}
#filter-grid {
    margin-right: 20px
}
#filter-grid label{ 
    float: left;
    margin-right: 10px;

}
#filter-grid a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    text-indent: -999999px;
    margin-right: 10px;

    position: relative;
}
#filter-grid a.list {
    background: url('../img/colico4.png') no-repeat 0 0;
}

#filter-grid a.list.active {
    background: url('../img/colico4_hover.png') no-repeat 0 0;
}


#filter-grid a.grid {
    background: url('../img/colico3.png') no-repeat 0 0;
}
#filter-grid a.grid.active {
    background: url('../img/colico3_hover.png') no-repeat 0 0;
}

#filter-sort {
    padding-right: 40px;
}

/* main area */
.view-grid {
    clear:both;
    display:table;
}
.grid-row {
    clear:both
}
.product-cat-grid.col4 {
    width: 33%; 
    padding: 0 1.165%;
}

.product-cat-grid.col3 {
    width: 192px; 
    margin: 0 10px;
}
.product-cat-grid {
    margin-bottom: 15px;
    float:left;
    display:table-cell;
}
.product-cat-grid .img {
    position: relative;
}
.product-cat-grid .img img {
    width: 100%;
}
.product-cat-grid .img .view {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 2;
    background: #f5b19a;
    opocity: 0.7;
    display: none;
    text-align: center;
}
.product-cat-grid .img:hover .view{
    display: block;
}
.product-cat-grid .desc {
    padding:15px 10px;
    text-align: center;
    height: 100px;
}
.product-cat-grid .desc h5 a {
    color:#282727;
    text-transform: capitalize;
    font-size: 13px;
}
.product-cat-grid .desc h6 {
    margin-bottom: 5px;
}
.product-cat-grid .desc h6 a {
    font-size:12px;
    line-height:16px;
    color:#898989;
    padding:7px 0 14px 0;
}
.product-cat-grid .desc .brand {
    margin: 2px 0 5px 0
}
.product-cat-grid .desc .price-striped {
    font-size:12px;
    line-height:20px;
    color:#37bbec;
    font-weight:normal;
    color:#fcaa9c;
    text-decoration:line-through;
}
.product-cat-grid .desc .price {
    font-size:14px;
    line-height:20px;
    color:#282727;
    font-weight:normal;
    font-style: italic;

}

.product-pager {}
.product-pager ol {
    float: right;
    margin: 0;
}
.product-pager li {
    float: left;
    height: 30px;
    text-align: center;
    width: 30px;
    line-height: 28px;
}
.product-pager li.nav-text {
    width: 50px;
    text-align: center;
    line-height: 27px;
    color: #000;
    letter-spacing: 0.8px;
    word-spacing: 0.1px;
}
.product-pager li a{
    float: left;
    padding: 0px;
    height: 30px;
    width: 30px;
    line-height: 29px;
    border: 2px solid #ebebeb;
    color: #000;
    font-size: 17px;
    margin: 0;
}

.product-pager li.inactive a{

    color: #bebebe;
    font-size: 12px;
}

/*-------------------------------------
    PRODUCT
    -----------------------------------*/

#content .pro_main_c {

}
.product-img-box {
    position: relative;
    border-right: 1px solid #dddddd;

}

.product-img-box .product-image {
    margin-bottom: 10px;
    margin-right: 100px;
}
.product-img-box .product-image img {
    max-width: 100%;
    margin: 0px auto;

}
.product-img-box .more-views{
    width: 75px;
    position: absolute;
    top: 2px;
    right: 13px;
}
.product-image-gallery {
    position: relative;
    width: 370px;
    height: 550px;
    text-align: center;
}
.product-image-gallery img{
    max-height: 550px;
}
.product-image-gallery .gallery-image {
    display: none;
}
.product-image-gallery .gallery-image.visible {
    display: block;
}
.product-image-gallery .gallery-image.visible.hidden {
    visibility: hidden;
}
.product-image-gallery:before, .product-image-gallery:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.product-image-gallery:before {
    background-color: white;
    opacity: 0.8;
    z-index: 2;
}
.product-image-gallery:after {
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
.product-image-gallery.loading {
    position: relative;
}
.product-image-gallery.loading:before, .product-image-gallery.loading:after {
    display: block;
}

.product-image-thumbs li {
    width: 73px;
    height: 106px;
    margin-bottom: 4px;
}
.product-image-thumbs li img{

}
.product-image-thumbs li:first-child {
    margin-left: -1px;
}
.product-image-thumbs a {
    display: inline-block;

}
.no-touch .product-image-thumbs a:hover {

}
.zoomContainer {

}

.product-shop {
    position: relative;
    margin: 0 ;
    padding: 0 0 0 10px;
}
.product-shop h1 {
    line-height: 30px;
    padding: 4px 0px 10px;
    font-size: 23px;
    letter-spacing: 0.3px;
}
.product-shop .row {
    margin-bottom: 0;
    padding-bottom: 0;
}
.product-shop .price {
    font-size: 17px;
    color: #000;
    font-weight: bold;
    font-family: 'supergroteskcompregular';

}
.product-shop .price-striped {

}
.product-shop hr {
    padding: 0;
    margin: 3px 0 10px 0;
}
.social-share {
    text-align: right;
}
.social-share label{
    font-weight: normal;
    color: #000;
    font-size: 12px;
    padding-right: 10px;
    line-height: 26px;
}
.share {

    position: relative;
    top: -1px;
    margin: 0 0 5px 0;
}
.share li {
    float: left;
    margin-left: 5px;
}
.share li a {
    border: 2px solid #fdabaf;
    width: 25px;
    height:25px;
    display: inline-block;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    line-height: 23px;
    color: #fdabaf;
}

.share li a:hover {
    background: #fdabaf;
    color: #fff;
}

.share li a i {
    font-size: 12.9px;
    padding-left: 2px;
}
.share li a i.fa-envelope {
    padding-left: 1px !important;  
}
.select2Buttons {
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0;
    width: 100%;
}
.select-buttons {

}
.select-buttons li a{
    display:inline-block;
    padding: 0 5px;
    margin-right: 5px;
    height:27px;
    min-width: 17px;
    text-align: center;
    border:1px solid #dbdbdb;
    color:#333333;
    text-align:center;
    line-height:27px;
    float:left;
    font-size:12px;

}
.select-buttons li a.picked{
    background: #333333;
    color: #fff;
}
.qty_box {
    margin-bottom: 20px;
    display: block;
}
.qty_box .plus_btn, .qty_box .minus_btn {
    text-align: center;
    width: 33px;
    height: 33px;
    border: 1px solid #dbdbdb;
    display: block;
    background: #dbdbdb;
    cursor: pointer;
    line-height: 27px;
}
.qty_box .plus_btn i, .qty_box .minus_btn i{
    font-size: 11px;
    color: #fff;
    font-weight: normal;
}
.qty_box .plus_btn {

    float: left;
    border-left: none;

}
.qty_box .minus_btn {

    float: left;
    cursor: pointer;
}
.qty_box .txtbox {
    width: 34px;
    height: 33px;
    border: 1px solid #d7dbdb;
    text-align: center;
    font-size: 17px;
    color: #282727;
    padding: 0 5px;

    font-weight: normal;
    float: left;
    display: block;
}
.btn-add-cart {
    width:275px;
    height: 65px;
    line-height: 45px;
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px;
}

.qty_box  {
    margin-top: 10px;
}


#content .tabing {
    position: relative;
    margin: 0 0 30px -10px;
    padding:0;
    margin-top: 50px;
}
#content .tabing .tab-content {
    padding:10px 0px;
}
#content .tabing .nav > li > a {
    font-size:12px;
    line-height:20px;
    color:#000;
    font-weight:normal;
    padding: 5px 17px 5px 17px;
    text-transform:uppercase;
    border-radius:0;
    border-top:none;
    border: none
}
#content .tabing .nav-tabs > li.active {
    bottom: 0;
    margin-bottom : 0;
    border-bottom:3px solid #fcaa9c;
}
#content .tabing .nav-tabs > li.active > a, #content .tabing .nav-tabs > li.active > a:hover, #content .tabing .nav-tabs > li.active > a:focus {


}
#content .tabing .nav > li > a span {

}
#content .tabing .nav-tabs > li.active:first-child > a {
}
#content .tabing .nav-tabs > li.active:first-child > a, #content .tabing .nav-tabs > li.active:first-child > a:hover, #content .tabing .nav-tabs > li.active:first-child > a:focus {
    border-left:none;
}
#content .tabing .tab-content h5 {
    text-transform:none;
}

.tab-content .table table
{
    border:2px solid #efefef;
    font-size:10px;
    text-transform:uppercase;
    width:100%;
}
.tab-content .table td
{
    padding:3px;
    text-align: center;
}
.tab-content .table thead
{
    font-family:FrutigerLTStd65Bold
}
.tab-content .table thead tr
{
    background:#efefef
}
.tab-content .table tbody .even
{
    background:#efefef
}
.tab-content .table .size
{
    width:80px
}
.tab_description {
    padding:5px 10px;
    color: #000;
}
.tab_description h5 {
    padding:0 0 8px 0;
    border:none;
    text-transform:none;
    font-weight:normal;

}
.tab_description p {
    padding:0 0 10px 0;
    font-size:12px;
    line-height:16px;
    margin:0;
}
.tab_description ul {
    margin:0;
    padding:0;
    display:block;
}
.tab_description ul li {
    margin:0;
    padding:0;
    display:block;
    font-size:12px;
    line-height:16px;
}
.tab_description ul li .fa-smile-o {
    margin:0 8px 0 0;
    font-size:14px;
    line-height:30px;

}

.tab_description {
    font-size: 14px;
    line-height: 20px;
}

/* ============================================ *
 * Checkout - Layout
 * ============================================ */
.cart  {
    padding: 10px 0;
}

.cart-table {
    margin: 0;
}
.cart-table th {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
}
.cart-table tbody tr {
    border: none !important;
}
.cart-table td {
    font-size: 12px;
    border: none !important;
    padding-bottom: 10px !important;
    text-align: center;
}

.cart-table tfoot tr {
    border-top: 2px solid #ebebeb;
}
.cart-table .total {
    text-align: right;
}
.cart-table img {
    text-align: center;
    margin: 0 auto;
}
.cart-table input {
    border: none;
    text-align: center;
}

.discount-form {
    position: relative;
    clear: both;
}
.discount-form label{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
    padding-right: 10px;
}
.discount-form input{
    height: 30px;
    line-height: 30px;
    width: 192px;
    padding: 0;
    top: -1px;
    position: relative;
    text-indent: 10px;
}
.cart-button-wrapper {
    clear: both;
    width: 100%;
    text-align: right;
    padding-top: 30px;
}
.discount-form button{ 
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 12px;
    color: #a0ceb4;
    border: 1px solid #a0ceb4;
    background: none;
    margin-top: 1px;
    font-size: 13px;
}
#shopping-cart-totals-table .a-right,.cart-table .total {
    text-align: right;

}
#shopping-cart-totals-table {
    border-top: 2px solid #ebebeb;
}
.btn-proceed-checkout {
    height: 40px;
    line-height: 36px;
    padding: 0 30px;
}

#directcheckout-wrapper { 
    background: #fff; 
    padding: 20px;
}

/* Login Form */
#customer-login-form-wrapper { padding: 10px; text-align: left; }

/* Forget Password */
#customer-forget-password { padding: 10px; text-align: left; }
.step { 
    width:24px;
    height:24px;
    margin-right:5px;
    float:left; 
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    background: #dedede;
}
.step-title { 
    height:35px;
    text-transform: uppercase;
    font-size: 14px;
    padding-top:1px;
    line-height: 25px;
}

/* Columns */
#directcheckout-columns-wrapper { min-height: 30em; overflow: hidden; margin-top: 10px; }
.directcheckout-col1 { width: 25%; float: left; margin-right: 15px; padding-top: 15px;  }
.directcheckout-col2 { width: 25%; float: left; margin-right: 15px; padding-right: 15px; padding-top: 15px;  }
.directcheckout-col3 { width: 47%; float: left; padding-top: 15px; }

/* Forms */
.field { margin-top: 5px; }
#directcheckout-columns-wrapper label{ 
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}
#directcheckout-columns-wrapper input { width: 90%; }
#directcheckout-columns-wrapper select { width: 90%; }
#directcheckout-columns-wrapper input[type="radio"], #directcheckout-columns-wrapper input[type="checkbox"] {
    margin: 0px 0 0;
    line-height: normal;
    float: left;
    margin-right: 10px;
    width: 16px;
    height: 16px;
}
.my-account {  }

/* Addresses */
#shipping_address { display: none; }
.address-line2 { margin-top: 5px; }

.different-address { padding: 5px; margin-top: 10px; display: none }

/* Summary */
#review_order .qty { text-align: center; }
#review_order .qty span {padding: 5px; }
.qty-add, .qty-delete { width: 10px; }

/* Agreements */
.agreement-content { text-align: left; }


/* Coupon */

/* Extra */
#directcheckout-additional { padding: 10px; margin-bottom: 20px; margin-top: 10px; }

/* Coupon */
.directcheckout-discount {
    display: inline-block;
    clear: both;
    width: 100%;
    height: 30px;
}
.directcheckout-discount .directcheckout-input {
    background: none;
    border:none;
    display: inline-block;
    float: right;
    text-align: right;
}
.directcheckout-discount .directcheckout-input label { 
    border: none;

    position: relative;
    height: 27px;
    line-height: 27px;
    font-size: 10px;
    padding-right: 5px;
    clear: both !important;
    width: 100%;
    display: none;
}
.directcheckout-discount .directcheckout-input input { 
    width: 190px !important;
    background: none;
    height: 27px;
    padding: 0;
    text-align: 5px;

    color: #000;
    border: 1px solid #000;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 5px;
}
.directcheckout-discount .directcheckout-input button { 
    height: 27px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;

}
.x-delete { color: #a1b9ed; cursor: pointer; text-decoration: none; float: right; width: 16px; font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size: 15px; }
.x-delete:hover { color: #36c; }
#button-loading { background: url(../images/button-loader.gif) no-repeat; float: right; width: 16px; height: 16px; display: none; margin: 2px 5px; }

/* Forms */
.directcheckout-input { border: 1px solid #ececec; width: 80%; background: #fff; height: 22px; padding: 2px; border-radius: 5px; }
.directcheckout-input input { border: none; height: 18px; width: 80%; }

/* Product view */

.directcheckout-product-medias { float: left; width: 220px; }
.directcheckout-product-medias .more-views li a { float: left; margin-right: 5px; border: 2px solid #ddd; widht: 56px; height: 56px; overflow: hidden; }
.directcheckout-product-description {float:right; width: 260px; }

/* Address Autocomplete */
.place-container { width: 90%; padding: 2px; border-right: 1px solid #b6b6b6; border-bottom: 1px solid #b6b6b6; border-left: 1px solid #b6b6b6;}
.place-container li.address-result { padding: 5px 0px 5px 20px; font-size: 11px; background: url(../images/directcheckout-autocomplete-marker.png) no-repeat left; }
.place-container li:hover {cursor: pointer;}
.place-container li.address-result:not(:last-child) {border-bottom: 1px solid #ececec;}
.place-container li.address-not-found {text-align: center; background: #ececec; padding: 8px 0 8px 0px; font-weight: bold; }
.span-button { width: 90%; height: 18px; padding: 3px; overflow: hidden; position: relative; padding:4px 6px 0 !important; }
.remove-address {position: absolute; right: 10px; /*width: 5px; height: 5px;*/ top: 4px; }

/* Direct checkout Button */
.directcheckout-button { 
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff; 
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff; 
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9)); background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%); background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%); background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%); background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%); background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0); background-color:#f9f9f9; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; border:1px solid #dcdcdc; display:inline-block; cursor:pointer; color:#666666; font-family:arial; font-size:11px; font-weight:bold; padding:1px 6px; text-decoration:none; text-shadow:0px 1px 0px #ffffff; height: 20px; }
.directcheckout-button:hover { background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9)); background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%); background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%); background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%); background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%); background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0); background-color:#e9e9e9; }
.directcheckout-button:active { position:relative; top:1px; }

/* Tools */
.spacer { clear: both; }
.simple-loading-wrapper { width: 100%; height: 100%; }
.directcheckout-loading { width: 50px; height: 50px; background: url('../images/spinner.gif') no-repeat; margin: auto; }


.div-save-address { margin-top:5px; margin-left:2px;}
#customer-register { 
    margin-left:2px;
}

#payment_methods {
    margin-top:30px; 
}

#payment_methods li {
    clear: both;
}
#directcheckout-form .btn-checkout {
    float: right;
}

/*----------------------------------
    ACCOUNT
    *------------------------------*/
.customer-account .sidebar-container ,.customer-account .main-container{
    padding-top: 20px;
}
/*----------------------------------------
  Sidebar
  ---------------------------------------*/

.block-account {
    padding-top: 16px;
}
.block-account .block-title{
    font-size: 14px;
    margin-bottom: 6px;
    font-family: 'supergroteskcomp-mediumRg';
}
.block-account ul{}
.block-account ul li {
    padding: 3px 0;
}
.block-account ul li a,.block-account ul li strong{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
}
.block-account ul li strong{
    color: #a0ceb4
}

/*----------------------------------------
  General
  ---------------------------------------*/

.my-account {
    padding: 10px;
    border: 1px solid #a0ceb4;

}
.my-account .page-title {
    margin-bottom: 20px;
}
.box-head {
    margin-bottom: 15px;
}
.box-head h2 {
    text-transform: uppercase;
    font-size: 12px;
    display: inline;
}

.box-head  a {
    font-size: 10px;
    background: #a0ceb4;
    color: #fff;
    padding: 3px 7px;
    text-transform: uppercase;
    margin-left: 10px;
}
#my-orders-table td.last {
    width: 200px;
}


/* ------------------------
    CMS
    ----------------------*/
.promoline {
    background: #9ecdb4;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.home-slider {
    display: block;
    margin: 20px 0;
}
.home-banner {
    display: block;
    margin-bottom: 20px;
}
.home-banner .col-xs-4 {
    max-height: 354px;
    margin-bottom: 10px;
}

.product-box-grid .img a.view, .product-cat-grid .img .view {
    color: #fff;
    display: block;
    padding: 10px 5px;
    margin-top: -5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

#featured-product .carousel-inner {
    overflow: visible;
}

.btn-outline:hover {
    border: #fff solid 1px !important;
    border-radius: 3px;
}

.product-cat-grid .view {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#filter-sort {
    display: none;
}

.product-pager {
    display: none;
}

.product-options .switcher-field label.selected {
    background: #333 ;
    color: #fff;
    border: #333 solid 1px;
}

.product-options .switcher-field label {
    height: 33px;
    min-width: 33px;
    font-size: 15px;
    color: #333;
}

#attribute147_switchers {
    margin-top: 10px;
}

#content .product-shop .tabing .nav-tabs > li.active {
    border-bottom: 7px solid #ffaaad !important
}

#related-wrapper #carousel .carousel-inner {
    overflow: visible;
}

.title-line h2 {
    font-size: 23px;
}