/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
}

.cbp-spmenu a {
	display: block;
	color: #818181;
	font-size: 16px;
	font-weight: 300;
    text-decoration: none;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 80%;
	height: 100%;
	top: 0;
	z-index: 1000;
    overflow:auto;
    overflow-y:scroll;
}

.cbp-spmenu-vertical a {
	padding: 0 10px;
    height: 40px;
    line-height: 40px;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left{left: -80%;}
.cbp-spmenu-left.cbp-spmenu-open{left: 0;}

/* Push classes applied to the body */
.cbp-spmenu-push{overflow-x: hidden; position: relative; left: 0;}
.cbp-spmenu-push-toright{left: 80%;}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push{-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}