@media (min-width: 1200px) {
    /** NYUMPUT start **/
    #header .header_mid .but-nav, .mobile-menu, footer .f_top h4, footer .f_top hr, .foots-menu{display: none;}
    /** NYUMPUT end **/
    .container{width: 1130px;}
    .col2-left-layout .sidebar-container{width: 230px;}
    .col2-left-layout .main-container{width: 893px;}
    #content{padding: 0px 0 40px 0;}
    .pro_main_c{margin-top: 35px;}
    .product-img-box{width: 490px; height: 550px; margin-bottom: 30px;}
    .product-content{padding-left:10px;}
    .product-img-box .more-views{width: 90px; position: absolute; top: 0; right: 0; padding: 0;}
    .cart-edit-area{width: 628px;}
    .cart-review-area{width: 435px;}
    .cart-area{margin-top: 70px;}
    .footer-menu{max-width: 225px;}
    .seo-text{width: 620px;}
    .socialize{max-width: 225px;}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape){
    /** NYUMPUT start **/
    #header .header_mid .but-nav, .mobile-menu, footer .f_top h4, footer .f_top hr, .foots-menu{display: none;}
    /** NYUMPUT end **/
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
    /** NYUMPUT start **/
    #header .header_top, #header .header_bot, .home-banner, #featured-product, footer .f_mid, footer .f_bot .ring-us, .col2-left-layout .sidebar-container, .inner-banner, .filter_c__right, .titleitem h2{display: none;}
    #header_sticky{opacity: 0;}
    /** NYUMPUT end **/

    .container{width: auto !important; padding-left: 0; padding-right: 0;}
    #header{min-height: inherit;}
    #header .header_mid{position: relative; color: rgb(0, 0, 0); background: rgb(255, 255, 255);}
    #header .header_mid .but-nav{position: absolute; top: 12px; left: 10px;}
    #header .header_mid .my-cart{display: block; position: absolute; top: 12px; right: 10px; background: url("../img/ico-mybag.png") no-repeat top; width: 24px; height: 24px; background-size: 24px; margin: 0 auto; padding: 0;}
    #header .header_mid .logo{width: 100% !important; height: 30px; text-align: center; margin: 10px auto;}
    #header .header_mid .logo img{width: 84px !important; height: 30px;}
    nav.cbp-spmenu #search{float: none; display: block; background: #000; margin: 0 auto; padding: 10px;}
    nav.cbp-spmenu #search .src-input{width: 100%; height: 29px; padding: 0 20px 0 5px;}
    nav.cbp-spmenu ul.main-menu{padding: 0 15px;}
    nav.cbp-spmenu ul.main-menu li{text-transform: uppercase;}
    nav.cbp-spmenu ul.main-menu li:first-child{text-align: center; border-bottom: 1px solid #9ecdb4; margin-bottom: 5px;}
    nav.cbp-spmenu ul.main-menu li:first-child a{height: 50px; line-height: 55px;}
    nav.cbp-spmenu ul.main-menu li:last-child{border-bottom: 1px solid #9ecdb4;}
    nav.cbp-spmenu ul.main-menu li .fa-user{float: left; line-height: 50px;}
    nav.cbp-spmenu ul.main-menu li .fa-chevron-right{float: right; line-height: 38px;}
    nav.cbp-spmenu ul.sub-menu{margin: 5px 0; padding: 0 15px;}
    nav.cbp-spmenu ul.sub-menu li{font-size: 12px; text-transform: uppercase; margin: 0; padding: 0 10px; height: 30px; line-height: 30px;}
    .bx-wrapper{margin: 0 auto;}
    .bx-wrapper .bx-pager{display: none;}
    .mobile-menu{display: block; margin: 0 auto; padding: 0; text-transform: uppercase;}
    .mobile-menu ul{margin: 0; padding: 0;}
    .mobile-menu ul li{margin: 0 auto; padding: 0 10px; font-size: 16px; border-bottom: 1px solid #9ecdb4; height: 40px; line-height: 40px;}
    .mobile-menu ul li:last-child{border-bottom: 0;}
    .mobile-menu ul li i{color: #9ecdb4; float: right; line-height: 40px;}

    footer{background: rgb(0, 0, 0); height: 235px;}
    footer .f_top{background: transparent; margin: 0; height: 100%; line-height: normal;}
    footer .f_top h4{color: #fff; text-transform: uppercase; text-align: center; font-size: 18px;}
    footer .f_top hr{border-top: 1px solid #fff; clear: both; margin: 10px auto; width: 100px;}
    footer .f_top .row{margin: 0 auto; position: relative;}
    footer .f_bot .copyright{float: none; text-align: center; font-size: 12px;}
    footer .col-lg-3.col-md-3.col-sm-3.col-xs-12, footer .col-lg-9.col-md-9.col-sm-9.col-xs-12{width: 100%; display: block;}
    footer .col-xs-12{float: none;}
    footer .col-xs-12:nth-child(1){position: absolute; top: 70px; z-index: 9;}
    footer .col-xs-12:nth-child(2){position: absolute; top: 20px; z-index: 10;}
    .btn-outline:hover{border: none !important;}
    .emial_box{text-align: center; width: 100%; position: relative;}
    .emial_box label{display: none;}
    .emial_box .btn-subcribe{background: #f8d4c6; border: none !important; color: #000; margin: 0; position: absolute; top: 0; right: 0; float: none; height: 36px; line-height: 39px;}
    .emial_box .txtbox{margin: 0; padding-right: 100px; width: 100%; height: 36px; line-height: 39px; font-size: 14px;}
    ul.social{margin: 20px auto 0; text-align: center;}
    ul.social li{float: none; display: inline-block; margin: 0; padding: 0 20px}
    ul.social li a{border-radius: 0;}
    ul.social li a i{font-size: 30px; line-height: normal;}
    ul.social li a i:hover{color: #ccc;}
    .foots-menu{display: block; margin: 15px auto; padding: 0; text-align: center;}
    .foots-menu a{display: inline-block; margin: 0; padding: 0; color: #fff; text-transform: uppercase; font-size: 11px;}
    .foots-menu a:hover{text-decoration: none; color: #ccc;}

    /** Shop style **/
    .product-cat-grid.col3{width: 140px; margin: 0 10px 15px;}
    .product-cat-grid.col3:first-child{margin-left: 15px;}
    .titleitem{text-align: center; position: relative; top: 55px; height: 0;}
    .filter_c{border-top: 1px solid #e3e3e3;}
}

@media (min-width: 600px) and (max-width: 800px) {
    /** NYUMPUT start **/
    #header .header_top, #header .header_bot, .home-banner, #featured-product, footer .f_mid, footer .f_bot .ring-us, .col2-left-layout .sidebar-container, .inner-banner, .filter_c__right, .titleitem h2{display: none;}
    #header_sticky{opacity: 0;}
    /** NYUMPUT end **/

    .container{width: auto !important; padding-left: 0; padding-right: 0;}
    #header{min-height: inherit;}
    #header .header_mid{position: relative; color: rgb(0, 0, 0); background: rgb(255, 255, 255);}
    #header .header_mid .but-nav{position: absolute; top: 12px; left: 10px;}
    #header .header_mid .my-cart{display: block; position: absolute; top: 12px; right: 10px; background: url("../img/ico-mybag.png") no-repeat top; width: 24px; height: 24px; background-size: 24px; margin: 0 auto; padding: 0;}
    #header .header_mid .logo{width: 100% !important; height: 30px; text-align: center; margin: 10px auto;}
    #header .header_mid .logo img{width: 84px !important; height: 30px;}
    nav.cbp-spmenu #search{float: none; display: block; background: #000; margin: 0 auto; padding: 10px;}
    nav.cbp-spmenu #search .src-input{width: 100%; height: 29px; padding: 0 20px 0 5px;}
    nav.cbp-spmenu ul.main-menu{padding: 0 15px;}
    nav.cbp-spmenu ul.main-menu li{text-transform: uppercase;}
    nav.cbp-spmenu ul.main-menu li:first-child{text-align: center; border-bottom: 1px solid #9ecdb4; margin-bottom: 5px;}
    nav.cbp-spmenu ul.main-menu li:first-child a{height: 50px; line-height: 55px;}
    nav.cbp-spmenu ul.main-menu li:last-child{border-bottom: 1px solid #9ecdb4;}
    nav.cbp-spmenu ul.main-menu li .fa-user{float: left; line-height: 50px;}
    nav.cbp-spmenu ul.main-menu li .fa-chevron-right{float: right; line-height: 38px;}
    nav.cbp-spmenu ul.sub-menu{margin: 5px 0; padding: 0 15px;}
    nav.cbp-spmenu ul.sub-menu li{font-size: 12px; text-transform: uppercase; margin: 0; padding: 0 10px; height: 30px; line-height: 30px;}
    .bx-wrapper{margin: 0 auto;}
    .bx-wrapper .bx-pager{display: none;}
    .mobile-menu{display: block; margin: 0 auto; padding: 0; text-transform: uppercase;}
    .mobile-menu ul{margin: 0; padding: 0;}
    .mobile-menu ul li{margin: 0 auto; padding: 0 10px; font-size: 16px; border-bottom: 1px solid #9ecdb4; height: 40px; line-height: 40px;}
    .mobile-menu ul li:last-child{border-bottom: 0;}
    .mobile-menu ul li i{color: #9ecdb4; float: right; line-height: 40px;}

    footer{background: rgb(0, 0, 0); height: 235px;}
    footer .f_top{background: transparent; margin: 0; height: 100%; line-height: normal;}
    footer .f_top h4{color: #fff; text-transform: uppercase; text-align: center; font-size: 18px;}
    footer .f_top hr{border-top: 1px solid #fff; clear: both; margin: 10px auto; width: 100px;}
    footer .f_top .row{margin: 0 auto; position: relative;}
    footer .f_bot .copyright{float: none; text-align: center; font-size: 12px;}
    footer .col-lg-3.col-md-3.col-sm-3.col-xs-12, footer .col-lg-9.col-md-9.col-sm-9.col-xs-12{width: 100%; display: block;}
    footer .col-xs-12{float: none;}
    footer .col-xs-12:nth-child(1){position: absolute; top: 70px; z-index: 9;}
    footer .col-xs-12:nth-child(2){position: absolute; top: 20px; z-index: 10;}
    .btn-outline:hover{border: none !important;}
    .emial_box{text-align: center; width: 100%; position: relative;}
    .emial_box label{display: none;}
    .emial_box .btn-subcribe{background: #f8d4c6; border: none !important; color: #000; margin: 0; position: absolute; top: 0; right: 0; float: none; height: 36px; line-height: 39px;}
    .emial_box .txtbox{margin: 0; padding-right: 100px; width: 100%; height: 36px; line-height: 39px; font-size: 14px;}
    ul.social{margin: 20px auto 0; text-align: center;}
    ul.social li{float: none; display: inline-block; margin: 0; padding: 0 20px}
    ul.social li a{border-radius: 0;}
    ul.social li a i{font-size: 30px; line-height: normal;}
    ul.social li a i:hover{color: #ccc;}
    .foots-menu{display: block; margin: 15px auto; padding: 0; text-align: center;}
    .foots-menu a{display: inline-block; margin: 0; padding: 0; color: #fff; text-transform: uppercase; font-size: 11px;}
    .foots-menu a:hover{text-decoration: none; color: #ccc;}

    /** Shop style **/
    .product-cat-grid.col3{width: 177px; margin: 0 10px 15px;}
    .product-cat-grid.col3:first-child{margin-left: 15px;}
    .titleitem{text-align: center; position: relative; top: 55px; height: 0;}
    .filter_c{border-top: 1px solid #e3e3e3;}
}

@media (min-width: 320px) and (max-width: 480px) {
    /** NYUMPUT start **/
    #header .header_top, #header .header_bot, .home-banner, #featured-product, footer .f_mid, footer .f_bot .ring-us, .col2-left-layout .sidebar-container, .inner-banner, .filter_c__right, .titleitem h2{display: none;}
    #header_sticky{opacity: 0;}
    /** NYUMPUT end **/

    .container{width: auto !important; padding-left: 0; padding-right: 0;}
    #header{min-height: inherit;}
    #header .header_mid{position: relative; color: rgb(0, 0, 0); background: rgb(255, 255, 255);}
    #header .header_mid .but-nav{position: absolute; top: 12px; left: 10px;}
    #header .header_mid .my-cart{display: block; position: absolute; top: 12px; right: 10px; background: url("../img/ico-mybag.png") no-repeat top; width: 24px; height: 24px; background-size: 24px; margin: 0 auto; padding: 0;}
    #header .header_mid .logo{width: 100% !important; height: 30px; text-align: center; margin: 10px auto;}
    #header .header_mid .logo img{width: 84px !important; height: 30px;}
    nav.cbp-spmenu #search{float: none; display: block; background: #000; margin: 0 auto; padding: 10px;}
    nav.cbp-spmenu #search .src-input{width: 100%; height: 29px; padding: 0 20px 0 5px;}
    nav.cbp-spmenu ul.main-menu{padding: 0 15px;}
    nav.cbp-spmenu ul.main-menu li{text-transform: uppercase;}
    nav.cbp-spmenu ul.main-menu li:first-child{text-align: center; border-bottom: 1px solid #9ecdb4; margin-bottom: 5px;}
    nav.cbp-spmenu ul.main-menu li:first-child a{height: 50px; line-height: 55px;}
    nav.cbp-spmenu ul.main-menu li:last-child{border-bottom: 1px solid #9ecdb4;}
    nav.cbp-spmenu ul.main-menu li .fa-user{float: left; line-height: 50px;}
    nav.cbp-spmenu ul.main-menu li .fa-chevron-right{float: right; line-height: 38px;}
    nav.cbp-spmenu ul.sub-menu{margin: 5px 0; padding: 0 15px;}
    nav.cbp-spmenu ul.sub-menu li{font-size: 12px; text-transform: uppercase; margin: 0; padding: 0 10px; height: 30px; line-height: 30px;}
    .bx-wrapper{margin: 0 auto;}
    .bx-wrapper .bx-pager{display: none;}
    .mobile-menu{display: block; margin: 0 auto; padding: 0; text-transform: uppercase;}
    .mobile-menu ul{margin: 0; padding: 0;}
    .mobile-menu ul li{margin: 0 auto; padding: 0 10px; font-size: 16px; border-bottom: 1px solid #9ecdb4; height: 40px; line-height: 40px;}
    .mobile-menu ul li:last-child{border-bottom: 0;}
    .mobile-menu ul li i{color: #9ecdb4; float: right; line-height: 40px;}

    footer{background: rgb(0, 0, 0); height: 235px;}
    footer .f_top{background: transparent; margin: 0; height: 100%; line-height: normal;}
    footer .f_top h4{color: #fff; text-transform: uppercase; text-align: center; font-size: 18px;}
    footer .f_top hr{border-top: 1px solid #fff; clear: both; margin: 10px auto; width: 100px;}
    footer .f_top .row{margin: 0 auto; position: relative;}
    footer .f_bot .copyright{float: none; text-align: center; font-size: 12px;}
    footer .col-lg-3.col-md-3.col-sm-3.col-xs-12, footer .col-lg-9.col-md-9.col-sm-9.col-xs-12{width: 100%; display: block;}
    footer .col-xs-12{float: none;}
    footer .col-xs-12:nth-child(1){position: absolute; top: 70px; z-index: 9;}
    footer .col-xs-12:nth-child(2){position: absolute; top: 20px; z-index: 10;}
    .btn-outline:hover{border: none !important;}
    .emial_box{text-align: center; width: 100%; position: relative;}
    .emial_box label{display: none;}
    .emial_box .btn-subcribe{background: #f8d4c6; border: none !important; color: #000; margin: 0; position: absolute; top: 0; right: 0; float: none; height: 36px; line-height: 39px;}
    .emial_box .txtbox{margin: 0; padding-right: 100px; width: 100%; height: 36px; line-height: 39px; font-size: 14px;}
    ul.social{margin: 20px auto 0; text-align: center;}
    ul.social li{float: none; display: inline-block; margin: 0; padding: 0 20px}
    ul.social li a{border-radius: 0;}
    ul.social li a i{font-size: 30px; line-height: normal;}
    ul.social li a i:hover{color: #ccc;}
    .foots-menu{display: block; margin: 15px auto; padding: 0; text-align: center;}
    .foots-menu a{display: inline-block; margin: 0; padding: 0; color: #fff; text-transform: uppercase; font-size: 11px;}
    .foots-menu a:hover{text-decoration: none; color: #ccc;}

    /** Shop style **/
    .product-cat-grid.col3{width: 42%; margin: 0 10px 15px;}
    .product-cat-grid.col3:first-child{margin-left: 15px;}
    .titleitem{text-align: center; position: relative; top: 55px; height: 0;}
    .filter_c{border-top: 1px solid #e3e3e3;}
}
