

/* ============================================ *
 * Notify
 * ============================================ */
#form-subcribe {
    width: 300px;
    height: 150px !important;
    min-height: 160px;
    padding: 20px;
    background-color: #fff;
}
#form-subcribe  h4 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    letter-spacing: 1px;
    text-align: center;
}
.forgot-password {
    color: #000;
    font-family: 'supergroteskcomp-mediumRg';
}


/* ============================================ *
 * Currency Box
 * ============================================ */

.currency-menu {

}
.currency-content {
    text-align: right;
    width: 180px;
    border-left: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    position: absolute;
    padding-right: 10px !important;
    right: -10px !important;
}
.currency-switcher {
    display: block;
}
.currency-switcher  img{
    position: relative;
    verticla-align: middle;
    top: 5px;

}
.currency-switcher ul{
    margin-top: 8px !important;
    display: block;
}
.currency-switcher ul li {
    height: 16px;
    line-height: 16px;
    display: block;
}
.currency-switcher li a{
    line-height: 16px;
    display: block;
    width: 100%;
    height: 16px;
}
.currency-switcher li a img{
    line-height: 16px;
    float: right;

}
.currency-switcher li a span{
    line-height: 14px;
    height: 16px;
    float: right;
    display: block;
    padding-right: 7px;
}
.currency-switcher li a:hover span{
    color: #a0ceb4;
}

/* ============================================ *
 * Mini Cart
 * ============================================ */

.cart_menu .cart_row {
    display:table;
    margin:0;
    padding:5px;
    width:100%;
}
.cart_menu ul {
    display:block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e1;
}

.cart_row ul li {

    display:table-cell !important;
    vertical-align:middle;
    overflow:hidden;
    margin: 0;
    padding: 5px 0 10px;

}

.cart_row ul li .pro_img {
    width:74px;
    height:93px;
    border:1px solid #efefef;
}
.cart_row ul li .pro_img span {
    display:block;
    width:100%;
    height:100%;
    background:#dcdcdc;
}
.cart_row ul li .price {
    font-size:14px;
    color: #000;
    font-weight:normal;
    margin:0;
    padding:0;
    line-height:30px;
}
.cart_row ul li .options, .cart_menu ul li .qty {
    font-size: 9px;
    line-height: 1.1;
}

.cart_row ul li:nth-child(1) {
    width:20%;
    padding-left:0px;
}
.cart_row ul li:nth-child(2) {
    width:54%;
    text-align: left;
    margin-left: 10px;
}
.cart_row ul li:nth-child(3) {
    width:26%;
    padding-right:25px;
}
.cart_menu .cheout_row {
    padding:10px 0px;
}
.cart_menu .cheout_row p {
    font-size: 14px;
    line-height:40px;
    color: #898989;
    font-weight: normal;
    margin: 0;
    padding: 0;
    float:left;
}

.cart_menu .cheout_row .checkout_btn {
    height: 30px;
    background: #fcaa9c;
    text-align: center;
    border: none;
    display: block;
    font-size: 14px;
    line-height:30px;
    color: #fff;
    font-weight: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration:none !important;
}

/* ------------------------------------------------------------------------
   Widget
   ------------------------------------------------------------------------*/
/* couresel */
#carousel
{

    position: relative;
    display: block;
    clear: both;
}
.title-line
{
    position: relative;
    display:block;
    width:100%;
    padding-bottom:10px;
    margin-bottom: 40px;
}
.title-line h2
{
    font-size:18px;
    color:#000;
    text-transform:uppercase;
    float:left;
    display:inline-block;
    margin:0;
    padding-right:10px;
    display: inline-block;
    background: #fff;
    position: relative;
    line-height:inherit;
    letter-spacing:1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
}
.title-line hr
{
    border-top:1px solid #c8c8c8;
    margin-top:8px;
    width: 100%;
    position: absolute;
    z-index: 0;
}
#carousel .carousel-nav
{
    float:right;
    display:block;
    text-align:right;
    width: 90px;
    height: 28px;
    top: -6px;
    right: 0;
    background: #fff;
    position: absolute;
    padding-left: 25px;
    
}
#carousel .carousel-nav a
{
    display:inline-block;
    width:28px;
    height:28px;
    cursor:pointer;
    position: relative;
}
#carousel .carousel-nav span
{
    color: #808080;
    width:28px;
    height:28px;
    border: 2px solid #808080;
    cursor:pointer;
    line-height: 24px;
    text-align: center;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

#carousel .carousel-nav span:hover {
    color: #fff
}

#carousel .carousel-nav a.carousel-prev
{
    background-position:0 0;
    float: left;
}
#carousel .carousel-nav a.carousel-prev:hover
{
    background-position:0 -28px;
    background:#828282;
    border-radius: 50px;
    color: #fff;
}
#carousel .carousel-nav a.carousel-next
{
    background-position:-28px 0;
    float: right;
}
#carousel .carousel-nav a.carousel-next:hover
{
    background-position:-28px -28px;
    background:#828282;
    border-radius: 50px;
    color: #fff;
}


.product-box-grid {
    width: 268px;
    height: 371px;
    float:left;
    margin: 0 7px;
    text-align: center;
}



.product-options .switcher-field label {
    border: 2px solid #E7E9EA;
    color: #696E72;
    display: inline-block;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: auto;
    min-width: 30px;
    float:left;
}
.switcher-field label {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
.product-options .switcher-field label.selected {
    border-color: #a0ceb4;
    color: #000;
    font-size: 13px;
    font-family: 'supergroteskcomp-mediumRg';
}
.product-options .switcher-field label.no-stock {
    background: url("../../images/easylife_switcher/no-stock.gif") repeat scroll 50% 50% rgba(0, 0, 0, 0);
    color: #DADBDC;
}
.switcher-field label.no-stock {
    color: #000000;
    cursor: default;
}
.switcher-field label.no-stock.allow-select{
    cursor:pointer;
}
.product-options .switcher-field label.no-stock img {
    opacity: 0.3;
    filter: alpha(opacity=30)
}