div#loading {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 59px;
  max-height: 59px;
  display: block;
}
.wraper_box_severity {
	/*border: 1px solid #000;*/
}

.box_severity {
	position: relative;
	width: 23%;
	float: left;
	margin: 9px;
	text-align: center;
	color: #FFF;
	padding: 10px;
	font-weight: bold;
}

.box_severity_count{
	font-weight: bold;
}

.box_severity_title{
	fo

}